@* <h1>Rock Paper Scissors Game</h1>
<form action="/results" method="post">
  <label for="input1">Enter R or P or S for Player1(for Rock\Paper\Scissors): </label>
  <input type="text" name="input1" required>
  <br>
  <br>
  <label for="input2">Enter R or P or S for Player2(for Rock\Paper\Scissors): </label>
  <input type="text" name="input2" required>
  <br>
  <br>
  <button type="submit" name="button">Check Result</button>
</form> *@
